a, u {
  text-decoration: none;
}

.btn-adicionar{
     margin: auto;
}

.container{
    width: 85%;
}

.rounded-pill{
    border-radius: 50%!important;
}

.btn-link, .form-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
    display: inline;
}

.btn-group-sm>.btn, .btn-sm{
    padding: 0.5em 0.5em;
    margin-top: 5px;
}