<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Formulario para adicionar um novo cliente</title>
        <!--CSS-BOOTSTRAP-->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <!--CSS-ICON GOOGLE-->
        <link href="/css/iconfont/material-icons.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a href="/" role="button"><span class="navbar-brand mb-0 h1" title="Sistema de Cobranças">Sistema de Cobranças</span></a>
                </div>
            </nav>
        </header>
        <main class="container" style="width: 65%;">
            <div>
                <form th:action="@{/saveCliente/}" th:object="${cliente}" method="POST" >
                    <input th:field="*{id}" type="hidden"/>
                    <div class="form-group">
                        <p style="margin: 5px 0;">Nome:</p>
                        <input th:field="*{nome}" type="text" class="form-control" placeholder="José Octavio Batista" required>
                    </div>
                    <input th:field="*{saldo}" type="hidden" class="form-control">
                    <div class="form-group">
                        <p style="margin: 5px 0;">Celular:</p>
                        <input type="text" th:field="*{celular}" class="form-control" data-js="phone" id="celular">
                    </div>
                    <div class="form-group">
                        <p style="margin: 5px 0;">Endereço:</p>
                        <input type="text" th:field="*{endereco}" class="form-control" data-js="address" id="endereco">
                    </div>
                    <div style="display:flex; margin-top: 7px">
                        <div style='margin-left: auto;'>
                            <button style="padding: 0; margin: 0; border-width:0; background-color: #FFFFFF;" type="submit">
                                <span class="btn btn-success btn-sm rounded-pill editLink material-icons" style="padding:0.4em">check</span>
                            </button>
                            <script>
                                document.write('<a href="' + document.referrer + '">'+
                                    '<span class="btn btn-danger btn-sm rounded-pill editLink material-icons "'+
                                    'style="padding:0.4em">close</span></a>');
                            </script>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </body>
    <script src="/js/celular.js"></script>
    <script src="/js/vanilla.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</html>