<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Extrato vazio</title>
    <!--CSS-BOOTSTRAP-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--CSS-ICON GOOGLE-->
    <link href="/css/iconfont/material-icons.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a href="/" role="button"><span class="navbar-brand mb-0 h1" title="Sistema de Cobranças">Sistema de Cobranças</span></a>
        </div>
    </nav>
</header>
<main class="container">
    <figure class="text-center">
        <h1 class="display-4" th:text="|Extrato do cliente ${cliente.nome} está vazio! Por favor adicione uma compra ou pagamento.|"></h1>
        <a title="Registrar um novo pagamento do cliente" th:href="@{/{idCliente}/newPagamento/(idCliente=${cliente.id})}" style="margin: 1em;"><span class="btn btn-success btn-sm rounded-pill editLink material-icons md-48" style="margin: 1em;">attach_money</span></a>
        <a title="Registrar uma nova compra do cliente" th:href="@{/{idCliente}/newCompra/(idCliente=${cliente.id})}" ><span class="btn btn-secondary btn-sm rounded-pill editLink material-icons md-48" style="margin: 0.5em 0.5em;">shopping_cart</span></a>
    </figure>
</main>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>