<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Extrato do Cliente</title>
        <!--CSS-BOOTSTRAP-->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <!--CSS-ICON GOOGLE-->
        <link href="/css/iconfont/material-icons.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a href="/" role="button"><span class="navbar-brand mb-0 h1" title="Sistema de Cobranças">Sistema de Cobranças</span></a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-item" th:href="@{/{idCliente}/newPagamento/(idCliente=${cliente.id})}" title="Registrar um novo pagamento do cliente"><span class="btn btn-success btn-sm rounded-pill editLink material-icons" >attach_money</span></a>
                            <a class="nav-item" th:href="@{/{idCliente}/newCompra/(idCliente=${cliente.id})}" title="Registrar uma nova compra do cliente"><span class="btn btn-secondary btn-sm rounded-pill editLink material-icons" >shopping_cart</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">
            <!--TABELA-->
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered text-center align-middle caption-top">
                    <caption th:text="|Extrato do Cliente ${cliente.nome}|"></caption>
                    <thead>
                        <tr>
                          <th scope="col">Movimentação</th>
                           <th scope="col">Valor</th>
                           <th scope="col">Data e hora</th>
                           <th scope="col"  class="th-lg">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="extrato : ${extratos}" >
                            <th scope="row" th:text="${extrato.tipo}"></th>
                            <td th:if="${extrato.tipo=='Compra'}" style="color: red; font-weight: 700;" th:text="|R$ ${extrato.valor}|"></td>
                            <td th:if="${extrato.tipo=='Pagamento'}" style="color: green; font-weight: 700;" th:text="|R$ ${extrato.valor}|"></td>
                            <td th:text="${#temporals.format(extrato.data, 'dd/MM/yyyy HH:mm:ss')}"></td>
                            <td th:if="${extrato.tipo=='Compra'}">
                                <!--If type Compra do it!-->
                                <a title="Atualizar um dado da compra do cliente" th:href="@{/{idCliente}/updateCompra/{id}(idCliente=${cliente.id}, id=${extrato.idCompra})}"><span class="btn btn-warning btn-sm rounded-pill editLink material-icons" >edit</span></a>
                                <a title="Deletar compra realizada do cliente" th:href="@{/{idCliente}/deleteCompra/{id}(idCliente=${cliente.id}, id=${extrato.idCompra})}"><span class="btn btn-danger btn-sm rounded-pill editLink material-icons" >delete</span></a>
                            </td>
                            <td th:if="${extrato.tipo=='Pagamento'}">
                                <!--If type Pagamento do it!-->
                                <a title="Atualizar um dado do pagamento do cliente" th:href="@{/{idCliente}/updatePagamento/{id}(idCliente=${cliente.id}, id=${extrato.idPagamento})}"><span class="btn btn-warning btn-sm rounded-pill editLink material-icons" >edit</span></a>
                                <a title="Deletar pagamento realizado do cliente" th:href="@{/{idCliente}/deletePagamento/{id}(idCliente=${cliente.id}, id=${extrato.idPagamento})}"><span class="btn btn-danger btn-sm rounded-pill editLink material-icons" >delete</span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav th:if="${totalPages > 1}" style="margin-right: 0.25em;">
                    <ul class="pagination justify-content-end">
                        <li th:if="${(totalPages - firstPage >= 3) && (actualPage > 3)}" class="page-item">
                            <a class="page-link" th:text="|Primeira|" th:href="@{/listExtrato/{id}/page{firstPage}(id=${cliente.id}, firstPage=${firstPage})}"></a>
                        </li>

                        <li th:if="${actualPage - 2 >= firstPage}" class="page-item">
                            <a class="page-link" th:text="|${actualPage - 2}|" th:href="@{/listExtrato/{id}/page{page}(id=${cliente.id}, page=${actualPage - 2})}"></a>
                        </li>

                        <li th:if="${actualPage - 1 >= firstPage}" class="page-item">
                            <a class="page-link" th:text="|${actualPage - 1}|" th:href="@{/listExtrato/{id}/page{page}(id=${cliente.id}, page=${actualPage - 1})}"></a>
                        </li>

                        <li class="page-item active">
                            <a class="page-link" th:text="|${actualPage}|" th:href="@{/listExtrato/{id}/page{page}(id=${cliente.id}, page=${actualPage})}"></a>
                        </li>

                        <li th:if="${actualPage + 1 <= totalPages}" class="page-item">
                            <a class="page-link" th:text="|${actualPage + 1}|" th:href="@{/listExtrato/{id}/page{page}(id=${cliente.id}, page=${actualPage + 1})}"></a>
                        </li>

                        <li th:if="${actualPage + 2 <= totalPages}" class="page-item">
                            <a class="page-link" th:text="|${actualPage + 2}|" th:href="@{/listExtrato/{id}/page{page}(id=${cliente.id}, page=${actualPage + 2})}"></a>
                        </li>

                        <li th:if="${(totalPages - actualPage >= 3) && (actualPage <= totalPages - 3)}" class="page-item">
                            <a class="page-link" th:text="|Ultima|" th:href="@{/listExtrato/{id}/page{totalPages}(id=${cliente.id}, totalPages=${totalPages})}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </main>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>