<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Home Page</title>
        <!--CSS-BOOTSTRAP-->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <!--CSS-ICON GOOGLE-->
        <link href="/css/iconfont/material-icons.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a href="/" role="button"><span class="navbar-brand mb-0 h1" title="Sistema de Cobranças">Sistema de Cobranças</span></a>
                </div>
            </nav>
        </header>
        <main class="container">
            <figure class="text-center">
                <h1 class="display-4">
                    Seu Banco está vazio! Por favor adicione um cliente!
                </h1>

                <a th:href="@{/newClienteForm}" role="button" class="text-center">
                  <span class="btn btn-primary btn-sm rounded-pill editLink material-icons md-48 btn-adicionar" title="Registrar um novo cliente">person_add</span>
                </a>
            </figure>
        </main>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>